---
import Layout from "../../layouts/Layout.astro";
import { Debug } from "astro:components";
import type { PersonnesRecord } from "../../pocketbase-types";

export const prerender = false;
const { id } = Astro.params;

const personne = await Astro.locals.pb.collection("personnes").getOne(id);
---

<Layout>
  <p>Affichage d'une personne</p>
  <Debug personne={personne} />
</Layout>
