---
import Layout from "../../layouts/Layout.astro";
import { Debug } from "astro:components";

const { id } = Astro.params;

const personne = await Astro.locals.pb.collection("personnes").getOne(id ?? "Inconnu");
---

<Layout>
  <p>Affichage d'une personne</p>
  <Debug {personne} />
</Layout>
