@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "AbsoluteCinema";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(96% 0.003 264.542);
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(55% 0.288 302.321);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(82% 0.189 84.429);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

