---
import Layout from "../layouts/Layout.astro";

export const prerender = false;


if (Astro.request.method === "POST") {
const data = await Astro.request.formData();
if (data.has("deconnexion")){
    Astro.locals.pb.authStore.clear();
    Astro.response.headers.append(
      "set-cookie",
      Astro.locals.pb.authStore.exportToCookie()
    );
} else
  try {
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    console.log({ email, password });
    await Astro.locals.pb.collection("users").authWithPassword(email, password);
    Astro.response.headers.append(
      "set-cookie",
      Astro.locals.pb.authStore.exportToCookie()
    );

    // Faire quelque chose avec les données
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title={Astro.locals.pb.authStore.isValid ? "Connecté" : "Se connecter"}>
  <div class="max-w-md mx-auto mt-32 min-h-[60dvh] flex items-center">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        {Astro.locals.pb.authStore.isValid ? (
          <>
            <h1 class="card-title text-2xl font-bold mb-4">Vous êtes connecté</h1>
            <form method="post" class="space-y-4">
              <input type="hidden" value="1" name="deconnexion" />
              <button type="submit" class="btn btn-primary w-full">Se déconnecter</button>
            </form>
          </>
        ) : (
          <>
            <h1 class="card-title text-2xl font-bold mb-4">Se connecter</h1>
            <form method="post" class="space-y-4">
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-semibold">Email :</span>
                </label>
                <input
                  type="email"
                  name="email"
                  class="input input-bordered w-full"
                  required
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text font-semibold">Mot de passe :</span>
                </label>
                <input
                  type="password"
                  name="password"
                  minlength="5"
                  class="input input-bordered w-full"
                  required
                />
              </div>
              <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary w-full">Se connecter</button>
              </div>
            </form>
          </>
        )}
      </div>
    </div>
  </div>
</Layout>