---
import Layout from "../layouts/Layout.astro";

import ComponentCalculatrice from "../components/ComponentCalculatrice.vue";
---

<Layout>
  <div class="h-screen w-full flex items-center justify-center">
    <ComponentCalculatrice client:load />
  </div>
</Layout>
