---
import Layout from "../layouts/Layout.astro"
import HeroLanding from "../components/Hero-landing.astro";
---

<Layout title="Accueil - AbsoluteCinema">
	<HeroLanding />

	<h1>test du action</h1>
</Layout>