---
import type { PersonnesRecord } from '../pocketbase-types'
import slug from "slug";


interface Props {
    personne: PersonnesRecord
}
const personne = Astro.props.personne;

---
<a href={`/personnes/${personne.id}-${slug(personne.nom??"Inconnu")}`}>{personne.prenom} {personne.nom}</a>